<div class="col-md-12">
	<h2>
		ถึงทุกคนที่หลงเข้ามาจ้า
	</h2>
	<p style="text-align: justify;">
		สวัสดีจ้า blog นี้ตั้งใจทำขึ้นเพราะอยากเขียนความรู้ที่มีเก็บไว้กันลืม แล้วก็จะได้แบ่งปันคนอื่นไปด้วย ส่วนใหญ่น่าจะเป็นเรื่อง reinforcement learning แล้วก็อาจจะมีเรื่อง data sci ปะปนมาบ้าง ตัวผู้เขียนเรียนจบป.ตรีจากภาควิชาวิศวกรรมคอมพิวเตอร์มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าธนบุรี (บางมด) ส่วนตอนนี้ก็เรียนป.โทอยู่ที่เดิม ทำทีสิสเกี่ยวกับการใช้ reinforcement learning มาเล่นหุ้น (โคตรยาก TT) มีประสบการณ์ทำงาน data sci นิด ๆ หน่อย ๆ ให้บางธนาคารและหน่วยงานรัฐวิสาหกิจบางที่ แล้วก็ช่วยงานสอนอาจารย์นาน ๆ ครั้ง
	</p>
	<p>ส่วนงานอดิเรกชอบดูซีรี่ย์เกาหลี เล่นเกมบ้างเป็นบางครั้ง ส่วนใหญ่เล่นแต่ pes กับ overcooked เรื่องไปเที่ยวชอบไปดำน้ำ scuba แต่ไปได้ไม่บ่อย เพราะมันแพง (555TT55) ว่าง ๆ ก็ดูหนังตลาดแบบ marvel เวลาไปห้างชอบกิน MK</p>
	<p>ปล.เว็บนี้ถ้าไม่สวย ไม่ถูกใจผู้มาเยี่ยมชมก็กราบขออภัยมา ณ ที่นี้ด้วย จะค่อย ๆ ปรับแก้ไปเรื่อย ๆ 555</p>
	<p>มีข้อสงสัยอะไรยังไงติดต่อได้ที่ thammasorn.han@hotmail.com เด้อ</p>

</div>

<!-- 
<div class="col-md-4" style="text-align: center;">
	<div class='row'><br><br>
	</div>
	<div class='row'>
		<div class='col-md-12'>
			<img src="assets/img/avatar.png" class="rounded-circle center">
		</div>
	</div>
	<div class='row center'>
		<div class="col-md-12">
			<h5 style="text-align: center;">
				นี่รูปคนเขียน
			</h5>
		</div>
	</div>
</div> -->

<style type="text/css">.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}</style>